**Task 2: Feb Internship Logic Building Task**

Problem Statement :

Given a sentence, identify all unique words and display:

1.The count of unique words

2.The unique words themselves

In [22]:
#Problem 1: Unique Words in a Sentence
def unique_words_sentence():
  sentence = input("Enter a sentence: ")
  words = sentence.split()
  unique_words=set(words)
  print(" unique words count: ", len(unique_words))
  print("unique words ",unique_words)
unique_words_sentence()

Enter a sentence:  python is easy and python is powerful
 unique words count:  5
unique words  {'is', 'and', 'powerful', 'python', 'easy'}

**Problem 2: Highest Salary from Employee Data**

Problem Statement :

Store employee names and their salaries, and determine which employee has the highest salary

In [5]:
def highest_salary_employee():
  employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
# finding employee with minimum salary
  highest_salary_employee = max(employees, key=employees.get)
  highest_salary=employees[highest_salary_employee]
  #display results
  print("Highest Salary:", highest_salary_employee, "-",highest_salary)
highest_salary_employee()

Highest Salary: Ravi - 75000

**Problem 3: Find Maximum and Minimum Values**

Problem Statement :

Find the maximum and minimum values from a list of numbers.

In [8]:
def find_max_min_values():
  numbers = [45,22,89,10,66]
  max_value = numbers[0]
  min_value = numbers[0]
  for num in numbers:
    if num > max_value:
      max_value = num
    if num < min_value:
      min_value = num

  print("List:", numbers)
  print("Max:", max_value)
  print("Min:", min_value)
find_max_min_values()

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**Problem 4: Count Products Above a Price Threshold**

Problem Statement :

Count how many products have a price greater than 1000.

In [9]:
def count_products_above_threshold():
  prices=[450, 1200, 899, 1500, 300]
  count=0
  #to check price
  for price in prices:
    if price>1000:
      count+=1
  print("Products above 1000:", count)
count_products_above_threshold()

Products above 1000: 2

**Problem 5: Calculate Attendance Percentage**

Problem Statement :

Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

In [13]:
def calculate_attendance_percentage(attendance):
  total_days=len(attendance)
  present_count=0
  for value in attendance:
    if value=="P":
      present_count+=1
  attendance_percentage=(present_count/total_days)*100
  return attendance_percentage
attendance = ["P", "P", "A", "P", "P"]
result=calculate_attendance_percentage(attendance)
print("Attendence Percentage:", result)

Attendence Percentage: 80.0

**Problem 6: Remove Duplicate Phone Numbers**

Problem Statement :

You are given a list of phone numbers that may contain duplicates. Write a Python program to remove duplicate phone numbers and display only the unique phone numbers.

In [25]:
def remove_duplicate_phone_numbers(phone_numbers):
  unique_numbers = set(phone_numbers)
  return unique_numbers
phone_numbers = [9876543210, 9123456789, 9876543210]
res=remove_duplicate_phone_numbers(phone_numbers)
print("Unique Phone Numbers:", res)

Unique Phone Numbers: {9876543210, 9123456789}

**Problem 7: Count Character Frequency**

Problem Statement :

Count how many times each character appears in a given string.

In [23]:
def count_freq_char(text):
  freq={}
  for char in text:
    if char in freq:
      freq[char]+=1
    else:
      freq[char]=1
  return freq
text="pythonp"
res=count_freq_char(text)
print(res)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**Problem 8: Convert List to Tuple**

Problem Statement :

Convert a list into a tuple and display it.

In [24]:
def convert_list_to_tuple(numbers):
  result = tuple(numbers)
  return result
numbers=[10,20,30]
res=convert_list_to_tuple(numbers)
print("Tuple:",res)

Tuple: (10, 20, 30)

**Problem 9: Check if a Key Exists in a Dictionary**

Problem Statement :

Check whether a specific key exists in a dictionary.

In [19]:
def check_key_exists(data,check_key):
  if check_key in data:
    print("Employee exists")
  else:
    print("Employee does not exist")
data = {
    "Raju": 33000,
    "Sri": 55000,
    "Sai": 72000
}
check_key="Sri"
check_key_exists(data,check_key)

Employee exists

**Problem 10: Calculate Average Marks**

Problem Statement :

Calculate the average marks of a student from a list of marks.

In [21]:
def calc_avg_marks(marks):
  total_marks=sum(marks)
  average_marks=total_marks/len(marks)
  return average_marks
marks=[70,75,80,65]
res=calc_avg_marks(marks)
print("Average Marks:", res)

Average Marks: 72.5